<%= form_with(model: member, url: [member.rota, member]) do |form| %>
  <div class="input-group">
    <%= form.submit class: 'btn btn-success' %>
    <%= form.text_field :name, class: 'form-control', placeholder: 'Name' %>
  </div>
<% end %>
