<div id="<%= dom_id rota %>">
  <p>
    <strong>Title:</strong>
    <%= rota.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= rota.description %>
  </p>

  <p>
    <strong>Members:</strong>
    <%= rota.members.map(&:name).join(', ') %>
  </p>

</div>
