<div class="row">
  <div class="col">
    <p class="text-success"><%= notice %></p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1>Rotas</h1>
  </div>
  <div class="col">
    <%= link_to "+ New rota", new_rota_path, class: 'btn btn-success' %>
  </div>
</div>
