<p style="color: green"><%= notice %></p>

<h1>Rotations</h1>

<div id="rotations">
  <% @rotations.each do |rotation| %>
    <%= render rotation %>
    <p>
      <%= link_to "Show this rotation", rotation %>
    </p>
  <% end %>
</div>

<%= link_to "New rotation", new_rotation_path %>
